.main {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.box {
    background-color: rgb(27, 27, 27);
    width: 90vw; /* Adjusted width for smaller screens */
    max-width: 400px; /* Added maximum width for larger screens */
    height: auto; /* Changed height to auto for responsiveness */
    border-radius: 15px;
    position: relative; /* Changed position to relative */
}

.imgbox {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.img {
    position: relative;
    height: 80px;
    width: 80px;
    border-radius: 50px;
}

#location,
#name {
    margin: 10px;
}

.text {
    color: white;
    text-align: center;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

#description {
    margin-right: 20px;
    font-size: smaller;
}

#location {
    color: yellowgreen;
    text-align: center;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div {
    width: 60vw; /* Adjusted width for smaller screens */
    max-width: 300px; /* Added maximum width for larger screens */
    height: 35px;
    margin: 7px;
    background-color: rgb(54, 54, 54);
    border-radius: 7px;
}

.h {
    color: white;
    margin-right: 45px;
    text-align: center;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

.div:hover {
    background-color: greenyellow;
    .h{
        color: #000;
    }
}

@media only screen and (min-width: 768px) {
    /* Apply styles for tablets */
    .box {
        width: 70%;
    }
}

@media only screen and (min-width: 1024px) {
    /* Apply styles for larger screens (desktops) */
    .box {
        width: 50%;
    }
}
